.header_container {
    background-color: var(--color-black);

    .wrapper_info {
        h1 {
            font-family: var(--font-base);
            color: var(--color-golden);
            letter-spacing: 0.04em;
            text-transform: uppercase;
            line-height: 117px;
            font-size: 90px;
        }

        p {
            margin: 2rem 0;
        }
    }

    .wrapper_img {
        img {
            width: 80%;
        }
    }
}